* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

#navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

#logo-container img {
    height: 50px;
    width: 50px;
}

#nav-links {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    list-style: none;
}

#nav-links a {
    color: #fdfdfd;
    text-decoration: none;
    padding: 10px;
    transition: 0.2s;
    text-transform: uppercase;
    font-size: 14px;
}

#nav-links a:hover {
    color: #bec4be;
}

#login-btn {
    background-color: #07cf39;
    border-radius: 5px;
    padding: 15px 20px;
}

#nav-links #login-btn:hover {
    background-color: #07bb34;
    color: #fdfdfd;
}

#main-banner {
    background-image: url("../img/main-banner.png");
    background-position: center;
    background-size: cover;
    padding: 10rem 0;
}

#main-banner h1,
#main-banner p {
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

#main-banner h1 {
    font-size: 3rem;
}

#main-banner p {
    font-size: 2rem;
}

#servicos-container {
    padding: 3rem;
}

#servicos-container ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}

#servicos-container li {
    flex: 1 1 250px;
    text-align: center;
}

#servicos-container i {
    font-size: 64px;
    margin-bottom: 0.5rem;
}

.fa-shield-alt {
    color: #3ab62f;
}

.fa-rocket {
    color: #e72525;
}

.fa-comments {
    color: #ff6601;
}

#servicos-container h3 {
    margin-bottom: 16px;
}

#servicos-container p {
    line-height: 24px;
}

#precos-container {
    padding: 3rem;
    text-align: center;
}

#precos-container h2 {
    font-size: 36px;
}

#precos-container p {
    font-size: 20px;
    color: #444;
}

#planos-container {
    display: flex;
    justify-content: space-evenly;
}

#planos-container ul {
    list-style: none;
}

.assinatura {
    max-width: 250px;
    flex: 1;
    margin: 0 20px;
}

.assinatura ul {
    padding: 0;
    position: relative;
}

.assinatura li {
    height: 50px;
    line-height: 50px;
    background-color: #e4e1e1;
    color: #333;
}

.assinatura .preco {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #65af5e;
    color: #fff;
    line-height: 150px;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: 50px;
}

.assinatura .nome-assinatura {
    padding: 50px 0;
    background-color: #1a3643;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.assinatura a {
    text-decoration: none;
    color: #fff;
}

.assinatura .assinatura-btn {
    background-color: #65af5e;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
}

.assinatura .recomendado {
    background-color: #e74a4a;
}

#dominio-container {
    padding: 3rem 0;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f3c49;
}

#dominio-container h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 15px;
}

#dominio-container p {
    font-size: 20px;
    color: #d5d5d5;
    margin-bottom: 30px;
}

#dominio-container input {
    border: none;
    border-radius: 5px;
}

#dominio-container input[type="text"] {
    padding: 15px 25px;
    width: 450px;
    font-size: 18px;
    height: 50px;
}

#dominio-container input[type="text"]:focus {
    outline: none;
}

#dominio-container input[type="submit"] {
    padding: 15px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    height: 50px;
    background-color: #07cf39;
    color: #fdfdfd;
    font-weight: bold;
}

#dominio-container input[type="submit"]:hover {
    background-color: #07bb34;
}

#contato-container {
    padding: 3rem 0;
    text-align: center;
}

#contato-container h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 15px;
}

#contato-container p {
    font-size: 20px;
    color: #555;
    margin-bottom: 30px;
}

#contato-container form {
    max-width: 500px;
    margin: 0 auto;
}

#contato-container input,
#contato-container textarea {
    padding: 15px 30px;
    height: 60px;
    flex: 1;
}

#contato-container textarea {
    display: block;
    width: 500px;
    height: 150px;
    margin: 5px auto 5px;
}

#contato-container input[type="submit"] {
    width: 200px;
    background-color: #07bb34;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 5px;
    opacity: 0.9;
}

#contato-container input[type="submit"]:hover {
    opacity: 1;
}

footer {
    padding: 5rem 0;
    text-align: center;
    color: #fdfdfd;
    background-color: #333;
}
