* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

#navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

#logo-container img {
    height: 50px;
    width: 50px;
}

#nav-links {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    list-style: none;
}

#nav-links a {
    color: #fdfdfd;
    text-decoration: none;
    padding: 10px;
    transition: 0.2s;
    text-transform: uppercase;
    font-size: 14px;
}

#nav-links a:hover {
    color: #bec4be;
}

#login-btn {
    background-color: #07cf39;
    border-radius: 5px;
    padding: 15px 20px;
}

#nav-links #login-btn:hover {
    background-color: #07bb34;
    color: #fdfdfd;
}

#main-banner {
    background-image: url("../img/main-banner.png");
    background-position: center;
    background-size: cover;
    padding: 10rem 0;
}

#main-banner h1,
#main-banner p {
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

#main-banner h1 {
    font-size: 3rem;
}

#main-banner p {
    font-size: 2rem;
}

#servicos-container {
    padding: 3rem;
}

#servicos-container ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
}

#servicos-container li {
    flex: 1 1 200px;
    text-align: center;
}

#servicos-container i {
    font-size: 64px;
    margin-bottom: 0.5rem;
}

.fa-shield-alt {
    color: #3ab62f;
}

.fa-rocket {
    color: #e72525;
}

.fa-comments {
    color: #ff6601;
}

#servicos-container h3 {
    margin-bottom: 16px;
}

#servicos-container p {
    line-height: 24px;
}

#precos-container {
    padding: 3rem;
    text-align: center;
}

#precos-container h2 {
    font-size: 36px;
}

#precos-container p {
    font-size: 20px;
}

#planos-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
}

#planos-container ul {
    list-style: none;
}
